* {font-family: font-family: Georgia, Times, Times New Roman, serif;}

* {background: linear-gradient(to bottom right, #fae5c4 33%, #ffcccc 100%); background-repeat: no-repeat;}


h1 {color: black;}


p, 
li {font-size: 18px;
  text-align: center;}


a {text-decoration: none;}

div {text-align: center;}

